<%- include("partials/header.ejs") %>
<section class="hero-section" style="background-image: url('/images/boat.jpeg'); background-attachment: fixed; background-size: cover; background-position: center; padding: 100px 0;">
    <div class="container text-start mb-5">
      <h1 class="display-5 fw-bold text-white">Welcome to My Blog</h1>
      <div class="col-lg-6">
        <p class="lead mb-4 text-light">Join me as I share my thoughts, insights, and stories on technology, life, and more. Discover content that engages, inspires, and educates.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Read More</button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">Contact Me</button>
        </div>
      </div>
    </div>
  </section>
  <section id="blogs"> 
    <div class="container">
        <h2>All Posts</h2>
        <!-- Blog -->
        <!-- Logic for displaying posts -->
        <div class="row mb-2" data-masonry='{"percentPosition": true }'>
            <% posts.forEach(post => { %>

                <div class="col-md-6 " data-aos="fade-up">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col-auto d-none d-lg-block">
                        <img class="thumbnail-image" src="<%= post.image %>" alt="Thumbnail" width="200" height="250">
                      </div>
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary-emphasis"><%= post.category2 %></strong>
                        <h3 class="mb-0"><%= post.title %></h3>
                        <div class="mb-1 text-body-secondary">Date Posted: <%= post.date.toLocaleDateString("en-US") %></div>
                        <p class="card-text mb-auto"><%= post.content %></p>
                        <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                          Continue reading
                          <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                        </a>
                      </div>
                    </div>
                  </div>
    
            <% }) %>
            
          </div>
    </div>
  </section>

<%- include("partials/footer.ejs") %>
